html, body {
    height: 100%;
}
body {
  margin: 0;
  text-align: center;
  background-color: whitesmoke;
}

.container2 {
  padding-top: 30px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container3 {
  background-color: white;
  width: 525px;
  height: 300px;
  top: 277px;
  left: 421px;
  padding: 20px;
  min-width: 400px;
	text-align: center;
  margin: auto; 
  margin-top: 100px;
}

.container3 p {
  font-family: 'Rubik', sans-serif;
  color: #1C1718;
  font-weight: 400px;
}

.meetJoin button {
  background-color: #2CB3AE;
  width: 102px;
  height: 50px;
  left: 359px;
  border: 1px solid #2CB3AE;
  font-family: 'Rubik', sans-serif;
  color: #FFFFFF;
  font-weight: 500px;
}

.meetJoin input {
  width: 335px;
  height: 50px;
  background-color: #F1F4F3;
  border: 1px solid #F1F4F3;
  font-family: 'Rubik', sans-serif;
  color: #544547;
  font-weight: 400px;
}

.meetCreate button {
  background-color: #EC5167;
  width: 102px;
  height: 50px;
  left:359px;
  border: 1px solid #EC5167;
  font-family: 'Rubik', sans-serif;
  color: #FFFFFF;
  font-weight: 500px;
}

.meetCreate input {
  width: 335px;
  height: 50px;
  background-color: #F1F4F3;
  border: 1px solid #F1F4F3;
  font-family: 'Rubik', sans-serif;
  color: #544547;
  font-weight: 400px;
}

.division {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  font-size: 20px;
}

.division1 {
  height: 1px;
  width: 230px;
  background: #e2e0e0;
}

.division2 {
  height: 1px;
  width: 230px;
  background: #e2e0e0;
}
